<!DOCTYPE html>
<html lang="pt">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href ="/styles/stylesheet.css" rel="stylesheet">
    <title>UFABC Smart Parking</title>
</head>

<body style="margin:0">
<div class="header">
    <img src="/images/logotipo-ufabc-abaixo.png" alt="logo">
    <h1>UFABC Smart Parking</h1>
</div>

<div class="vagaLivre" id="vaga1">
    <h2>1</h2>
</div>

<div class="vagaLivre" id="vaga2">
    <h2>2</h2>
</div>

<div class="vagaLivre" id="vaga3">
    <h2>3</h2>
</div>

<div class="vagaLivre" id="vaga4">
    <h2>4</h2>
</div>

<div class="vaga" id="vaga5"></div>

<div class="vaga" id="vaga6"></div>

<div class="vaga" id="vaga7"></div>

<div class="vaga" id="vaga8"></div>

<div class="vaga" id="vaga9"></div>

<div class="vaga" id="vaga10"></div>

<div class="vaga" id="vaga11"></div>

<script id="updateList">

    function getData(){
        $.ajax({
                url: '/update-sensors',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let i = 1
                    for (let key in data) {
                        let value = data[key];
                        for (let key in value){
                            let value2 = value[key]
                            for (let key in value2){
                                let value3 = value2[key]
                                if (value3.occupied == true) {
                                    document.getElementById("vaga" + i).classList.remove("vagaLivre");
                                    document.getElementById("vaga" + i).classList.add("vagaOcupada");
                                }
                                else {
                                    document.getElementById("vaga" + i).classList.remove("vagaOcupada");
                                    document.getElementById("vaga" + i).classList.add("vagaLivre");
                                }
                                i += 1
                            }
                        }
                    }
                    setTimeout(getData, 30000)
                }
            },

        )}
    $(document).ready(function() {
        getData();
    });
</script>

</body>
</html>